# DATABASE LOCAL CONFIGURATION
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=vacation_manager
JWT_SECRET=
PORT=3000

# BREVO API configuration
BREVO_API_KEY= # Reemplaza con la clave de API de Brevo
EMAIL_FROM= # Reemplaza con el correo electrónico desde el cual se enviarán los correos

# DATABASE SUPABASE CONFIGURATION
DB_HOST= # Reemplaza con el host de tu base de datos Supabase
DB_PORT= # Reemplaza con el puerto de tu base de datos Supabase
DB_USER= # Reemplaza con el usuario de tu base de datos Supabase
DB_PASSWORD= # Reemplaza con la contraseña de tu base de datos Supabase
DB_NAME= # Reemplaza con el nombre de tu base de datos Supabase