DB_HOST=#localhost
DB_USER=#root
DB_NAME=# nombre de la base de datos entregado en Blackboard
JWT_SECRET=#supersecreto
PORT=#3000

BREVO_API_KEY=# Key de la API de Brevo
EMAIL_FROM= # Correo electrónico desde el cual se enviarán los correos (correo registrado en Brevo y entregado en Blackboard)